<!-- Just an image -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://siasky.net/AAAz1sRCuUsGmt33jA5kWy3JaFA2WFcDQ2mKYd5J35ZW_A?fbclid=IwAR3Ym9-Q1G60xTtJ43Zd1a26-p9CBI4cU6u6ZUonX3FjgW0eHOXiyntv_x0" height="30" alt="" loading="lazy">
  </a>

  <button class="navbar-toggler" type="button" (click)="opened = !opened">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse show" [ngClass]="{ show: opened }">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']"> <a [routerLink]="['/']" class="nav-link">Wall</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <ng-container *ngIf="publicKey">
        <span #key class="navbar-text text-truncate w-25 d-inline-block ml-auto">{{ publicKey }}</span>
        <li class="nav-item">
          <a href="#" (click)="copyToClipboard(key, $event)" class="nav-link">
            <fa-icon [icon]="['far', 'clipboard']"></fa-icon>
          </a>
        </li>
      </ng-container>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['profile']" class="nav-link">
          <fa-icon [icon]="['far', 'user']"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>
