@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.memories {
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: 600px;
    max-width: 100%;
  }
}

.preview {
  background-color: #f7f7f9;
  border-radius: 5px;
  border: 1px dashed rgba(0, 0, 0, 0.125);
}

.tags, .location {
  font-size: 0.85rem;
}

.items {
  height: 100%;
}
