<div class="d-flex justify-content-center">
  <div class="card profile-card border-0 mt-3">
    <div class="card-body">
      <div *ngIf="error$ | async as error" class="alert alert-danger">{{ error }}</div>
      <div *ngIf="!(validProfile$ | async)" class="alert alert-warning">Please update your profile</div>
      <h4>Brain profile</h4>
      <h6 class="card-title"><p>Choose a name for your brain.</p></h6>
      <h6 class="card-subtitle mb-2 text-muted small">This information will be used in the future to display brain friendly names.</h6>
      <form [formGroup]="profileForm" [appConnectForm]="userData$ | async" (ngSubmit)="onSubmit()">
        <div class="form-group required">
            <label>Brain name</label>
            <input type="text" class="form-control" formControlName="nickname" [ngClass]="{ 'is-invalid': form.nickname.touched && form.nickname.errors }"/>
            <div *ngIf="form.nickname.errors as error" class="invalid-feedback">
              {{ error.invalid }}
            </div>
        </div>
        <div>
            <p>
              <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary btn-block">
                  Update
              </button>
            </p>
        </div>
      </form>
      <h4 class="mt-5">Brain connections</h4>
      <h6 class="card-title"><p>In order to display connections* on your wall you have to connect with other brains.</p></h6>
      <h6 class="card-subtitle mb-2 text-muted small">Fill the input with the public key of the brain you want to connect with and add a new connection.</h6>
      <form [formGroup]="connectedForm" (ngSubmit)="addFolower()">
        <div class="form-group required">
            <label>Public key</label>
            <input type="text" class="form-control" formControlName="publicKey" [ngClass]="{ 'is-invalid': fform.publicKey.touched && fform.publicKey.errors }"/>
            <div *ngIf="fform.publicKey.errors as error" class="invalid-feedback">
              {{ error.invalid }}
            </div>
        </div>
        <div>
            <p>
              <button type="submit" [disabled]="!connectedForm.valid" class="btn btn-primary btn-block">
                  Add connection
              </button>
            </p>
        </div>
      </form>
      <ul class="list-group mt-3">
        <li *ngFor="let user of connectedUsers$ | async" [attr.title]="user.startedAt | date" class="list-group-item d-flex justify-content-between align-items-center">
          <small class="text-truncate mr-3"><a [routerLink]="['/connection', user.publicKey]">{{ user.publicKey }}</a></small>
          <span (click)="unconnect(user.publicKey)" class="cursor-pointer badge badge-danger badge-pill" title="Remove">&times;</span>
        </li>
      </ul>
      <p class="small" style="padding: 20px 0 0 0;">* As part of the registration process we created a connection with <a [routerLink]="['/connection', skybrainAccountPublicKey]">Skybrain brain</a>. You can remove it at any time.</p>
      <p class="small" style="padding: 20px 0;">To better understand how Skybrain works please <a [routerLink]="['/connection', '669ee4eaf08ed6beb1e1ea13bafc84de39f2ffe38cfccae6374d5794e687f1dd']">visit this brain connection</a> and watch the videos we prepared.</p>
    </div>
  </div>
</div>
