<ng-container *ngIf="memory">
  <div class="card-header d-flex justify-content-between">
    <span><fa-icon [icon]="['far', 'calendar']"></fa-icon> {{memory?.added | date }}</span>
    <span><fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon> {{memory?.location}}</span>
  </div>
  <img *ngIf="memory?.skylink" class="card-img-top" src="{{ memory?.skylink | siaUrl }}" alt="">
  <div class="card-body">
    <p *ngIf="memory?.text" class="text-lead">{{ memory?.text }}</p>
    <p *ngIf="memory?.tags">
      <span *ngFor="let tag of memory.tags" class="badge badge-pill badge-primary mx-1">{{ tag }}</span>
    </p>
  </div>
  <div class="card-footer text-muted">
    <div class="btn-group w-100 justify-content-center">
      <a href="#" class="btn btn-outline-primary" (click)="forgetMe($event)">
        <fa-icon [icon]="['fas', 'comment-slash']"></fa-icon>
        Forget
      </a>
      <a href="#" class="btn btn-outline-primary" (click)="makeMePublic($event)">
        <fa-icon [icon]="['fas', 'globe']"></fa-icon>
        Make public
      </a>
      <a href="#" class="btn btn-outline-primary" (click)="forgetMe($event)">
        <fa-icon [icon]="['fas', 'link']"></fa-icon>
        Get share link
      </a>
    </div>
  </div>
</ng-container>
