<ng-container *ngIf="memory">
  <div class="card-header d-flex justify-content-between">
    <span>
      <fa-icon [icon]="['far', 'calendar']"></fa-icon>&nbsp;
      <a *ngIf="ownerPublicKey && memory?.isPublic; else elseBlock" [routerLink]="['/public', ownerPublicKey, memory.id]">{{memory?.added | date }}</a>
      <ng-template #elseBlock>{{memory?.added | date }}</ng-template>
    </span>
    <span *ngIf="memory.location"><fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon> {{memory.location}}</span>
  </div>

  <div [ngSwitch]="memory | memoryMediaType">
    <img  *ngSwitchCase="'image'" class="card-img-top" src="{{ memory?.skylink | siaUrl }}" alt="">
    <video *ngSwitchCase="'video'" class="card-img-top" controls>
      <source src="{{ memory?.skylink | siaUrl }}">
    </video>
    <div *ngSwitchCase="'audio'" class="card-body">
      <audio class="w-100" controls>
        <source src="{{ memory?.skylink | siaUrl }}">
      </audio>
    </div>
  </div>

  <div class="card-body" *ngIf="memory?.text">
    <div class="markdown-body" [innerHTML]="memory?.text | markdown"></div>
  </div>

  <div class="card-body" *ngIf="memory?.tags?.length">
    <span *ngFor="let tag of memory.tags" class="badge badge-pill badge-primary mx-1">{{ tag }}</span>
  </div>

  <div class="card-body" *ngIf="memory?.shareLink">
    <div class="input-group mb-0">
      <input #link type="text" readonly class="form-control" [value]="['shared', memory?.shareLink] | absolutePath">
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          title="Copy to clipboard" type="button"
          (click)="copyToClipboard(link)">
          <fa-icon [icon]="['far', 'clipboard']"></fa-icon>
        </button>
        <a
          class="btn btn-outline-secondary"
          title="View"
          [routerLink]="['shared', memory?.shareLink]">
          <fa-icon [icon]="['fas', 'link']"></fa-icon>
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="!simple && !memory.connectedId" class="card-footer text-muted">
    <div class="btn-group w-100 justify-content-center">
      <a href="#" class="btn btn-outline-primary" (click)="forgetMe($event)">
        <fa-icon class="mr-2" [icon]="['fas', 'comment-slash']"></fa-icon>
        Forget
      </a>
      <a href="#" class="btn btn-outline-primary" (click)="togglePublic($event)">
        <fa-icon class="mr-2" [icon]="['fas', 'globe']"></fa-icon>
        <span [innerHTML]="memory?.isPublic ? 'Make private' : 'Make public'"></span>
      </a>
      <a href="#" class="btn btn-outline-primary" (click)="toggleShare($event)">
        <fa-icon class="mr-2" [icon]="['fas', 'link']"></fa-icon>
        <span [innerHTML]="memory?.isShared ? 'Unshare' : 'Share'"></span>
      </a>
    </div>
  </div>

  <div class="card-footer text-center" *ngIf="memory?.connectedId">
    <button [attr.title]="'User public memories'" [routerLink]="['/connection', memory.connectedId]" class="btn btn-light pull-right">
      <fa-icon [icon]="['far', 'user']"></fa-icon> Display connection
    </button>
  </div>
</ng-container>
