<div class="accordion">
  <div class="card memories-card my-3">
    <div class="card-header">
      <p class="mb-0 text-center cursor-pointer user-select-none" (click)="accordionOpened = !accordionOpened">
        <fa-icon [icon]="['fas', 'users']"></fa-icon> Brain connections
      </p>
    </div>
    <div class="collapse" [ngClass]="{ show: accordionOpened }">
      <div class="list-group list-group-flush" *ngIf="connectedUsers">
        <a [ngClass]="{ visited: visited(connectedUser.publicKey) }" *ngFor="let connectedUser of connectedUsers" [routerLink]="['/connection', connectedUser.publicKey]" class="connection list-group-item list-group-item-action text-center small text-monospace">
          {{resolveConnectionName(connectedUser.publicKey)}}
        </a>
      </div>
    </div>
  </div>
</div>
