<div class="d-flex justify-content-center">
  <div class="memories d-flex flex-column">

    <div class="card memories-card my-3">
      <div class="card-body">
        <h1>My Memories</h1>

        <div *ngIf="error$ | async as error" class="alert alert-danger">{{ error }}</div>

        <form [formGroup]="uploadForm">
          <div class="form-group">
            <label for="text">Text</label>
            <textarea class="form-control" formControlName="text"></textarea>
          </div>
          <div class="form-group">
            <label for="tags">Tags</label>
            <input type="text"  class="form-control" formControlName="tags" />
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text"  class="form-control" formControlName="location" />
          </div>
          <div class="form-group required form-file-group">
            <app-upload
              [ngClass]="{ 'is-invalid': form.file.dirty && form.file.errors }"
              accept="image/x-png,image/gif,image/jpeg,video/mp4,audio/mpeg,audio/webm,video/webm"
              formControlName="file"
              [valid]="form.file.dirty && !form.file.errors"
            ></app-upload>
          </div>
        </form>

      </div>

      <div class="card-footer">
        <button [disabled]="!uploadForm.valid" (click)="onSubmit()" class="btn btn-primary btn-block">
          <fa-icon [icon]="['fas', 'comment-medical']"></fa-icon>
          Remember
        </button>
      </div>

    </div>

    <ng-container *ngIf="(memories$ | async) as memories">

      <app-memory
        *ngFor="let memory of memories; trackBy:trackMemory"
        [memory]="memory"
        (forget)="forgetMemory($event)"
        class="mb-3">
      </app-memory>

    </ng-container>

  </div>
</div>
