<div class="d-flex justify-content-center">
  <div class="memories d-flex flex-column">
    <div class="card memories-card my-3">
      <div class="card-body">
        <div class="shadow-none p-3 mb-3 bg-light rounded">
          <h5>
            <small class="text-muted">Connect your neurons: store a new memory in the Skybrain</small>
          </h5>
        </div>
        <div *ngIf="error$ | async as error" class="alert alert-danger">{{ error }}</div>

        <form [formGroup]="uploadForm">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Text</span>
            </div>
            <textarea class="form-control" formControlName="text" aria-describedby="inputGroup-sizing-default"></textarea>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Tags</span>
            </div>
            <input type="text" class="form-control" formControlName="tags" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Location</span>
            </div>
            <input type="text" class="form-control" formControlName="location" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="form-group required form-file-group">
            <app-upload
              [ngClass]="{ 'is-invalid': form.file.dirty && form.file.errors }"
              accept="image/x-png,image/gif,image/jpeg,video/mp4,audio/mpeg,audio/webm,video/webm"
              formControlName="file"
              [valid]="form.file.dirty && !form.file.errors"
            ></app-upload>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button [disabled]="!uploadForm.valid" (click)="onSubmit()" class="btn btn-primary btn-block">
          <fa-icon [icon]="['fas', 'comment-medical']"></fa-icon>
          Keep memory
        </button>
      </div>
    </div>

    <ng-container *ngIf="(memories$ | async) as memories">

      <app-memory
        *ngFor="let memory of memories; trackBy:trackMemory"
        [memory]="memory"
        (forget)="forgetMemory($event)"
        (publish)="publishMemory($event)"
        (share)="shareMemory($event)"
        class="mb-3">
      </app-memory>

    </ng-container>

  </div>
</div>
