<div class="d-flex justify-content-center">
  <div class="card login-card mt-3">
    <img className="mx-auto h-24 w-auto" src="https://siasky.net/CAA4f8Z4YdfINcXK_bdDJH4lU4t0Bs07WgWjA5YHELUHYA" alt="Skybrain" />
    <div class="card-body">
      <h1 class="text-center">Login</h1>
      <p class="text-center">Hello! Log in with your nickname.</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text"  class="form-control" formControlName="nickname" />
        </div>
        <div class="form-group">
            <label for="passphrase">Passphrase</label>
            <div class="input-group">
              <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="passphrase"/>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="showPassword = !showPassword">
                  <fa-icon [icon]="!showPassword ? ['far', 'eye'] : ['far', 'eye-slash']"></fa-icon>
                </button>
              </div>
            </div>
        </div>
        <div>
            <p>
              <button type="submit" [disabled]="loading || !loginForm.valid" class="btn btn-primary btn-block">
                  Login
              </button>
            </p>
            <p class="text-center mb-0">Don't have an account? <a routerLink="/register">Register</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
