<div class="d-flex justify-content-center">
  <div class="card register-card mt-3">
    <div class="card-body">
      <h1 class="text-center">Register</h1>
      <p class="text-center">Hello! Register an account with your nickname.</p>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text"  class="form-control" formControlName="nickname" />
        </div>
        <div class="form-group">
            <label for="passphrase">Passphrase</label>
            <div class="input-group">
              <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="passphrase"/>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="showPassword = !showPassword">
                  <fa-icon [icon]="!showPassword ? ['far', 'eye'] : ['far', 'eye-slash']"></fa-icon>
                </button>
              </div>
            </div>
        </div>
        <div>
            <p>
              <button type="submit" [disabled]="loading || !registerForm.valid" class="btn btn-primary btn-block">
                  Register
              </button>
            </p>
            <p class="text-center mb-0">Already have an account? <a routerLink="/login">Login</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
