<div class="d-flex justify-content-center">
  <div class="card register-card border-0 mt-5 text-left">
    <img class="card-img-top" src="/assets/skybrain-logo.svg" alt="Skybrain" />
    <div class="card-body">
      <div *ngIf="error$ | async as error" class="alert alert-danger">{{ error }}</div>
      <h6 class="card-title"><p>Register and start sharing your memories. Photos, videos, audio notes, text. Store all you want in the Skybrain.</p></h6>
      <h6 class="card-subtitle mb-2 text-muted small">Please use a secure passphrase and remember that Skybrain is in alpha version*. The registration process could take a while, be patient.</h6>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="passphrase">Passphrase</label>
            <div class="input-group">
              <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="passphrase"/>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="showPassword = !showPassword">
                  <fa-icon [icon]="!showPassword ? ['far', 'eye'] : ['far', 'eye-slash']"></fa-icon>
                </button>
              </div>
            </div>
        </div>
        <div>
            <p>
              <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary btn-block">
                  Register
              </button>
            </p>
            <p>
              <app-skyid-connect></app-skyid-connect>
            </p>
            <p class="text-center mb-0">Already have an account? <a routerLink="/login">Login</a></p>
        </div>
      </form>
      <div class="p-3 small">* Alpha software may contain serious errors and any resulting instability could cause crashes or data loss.</div>
    </div>
  </div>
</div>
