.btn-image:before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 5px;
  vertical-align: text-top;
  background-color: transparent;
  background-position : center center;
  background-repeat:no-repeat;
  background-image : url(https://siasky.net/GABfzbtQ8SHFhIhzkarym4X9rF70W6KGkch0CbaU_GLdUg);
  background-size: cover;
}
