<div class="d-flex justify-content-center">
  <div class="memories d-flex flex-column">
    <div class="d-flex mt-3">
      <app-connect-me [publicKey]="publicKey" [cssClasses]="'ml-auto'"></app-connect-me>
    </div>
    <app-brain-connections *ngIf="connectedUsers" [connectedUsers]="connectedUsers"></app-brain-connections>
    <ng-container *ngIf="memories">
      <app-memory *ngFor="let memory of memories; trackBy:trackMemory" [memory]="memory" [simple]="true" class="mb-3"></app-memory>
    </ng-container>
  </div>
</div>
