<div class="d-flex justify-content-center">
  <div class="memories d-flex flex-column">

    <div class="accordion">
      <div class="card my-3">
        <div class="card-header text-center">
            <ng-container *ngIf="isAuthenticated$ | async; else notlogged">
              <fa-icon [icon]="['fas', 'photo-video']"></fa-icon> Express yourself, share your <a routerLink="/memories">memories</a>!
            </ng-container>
            <ng-template #notlogged>
              Try the exciting exerience of sharing a memory on SkyBrain. Let's <a [routerLink]="['/login']" [queryParams]="{redirect: 'memories'}">login</a>!
            </ng-template>
        </div>
      </div>
    </div>

    <div class="card border-0 mt-2 text-left">
      <img class="card-img-top" src="/assets/docusign-L2iZFRPaH1M-unsplash.jpeg" alt="scrolling" />
      <div class="card-body">
        <h6 class="card-title"><p>Hello SkyBrain Stream!</p></h6>
        <h6 class="card-subtitle mb-2 text-muted">Are you curious about what happens in other brains? Here we are! Scroll the stream of latest public memories stored in SkyBrain 💨🧠</h6>
      </div>
    </div>
    <br>
    <ng-container *ngIf="displayedMemories">
      <div class="items" infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()" >
      <app-memory *ngFor="let memory of displayedMemories; trackBy:trackMemory" [memory]="memory" [simple]="true" class="mb-3"></app-memory>
      </div>
    </ng-container>
    <button *ngIf="canShowMore()" type="button" class="mr-2 btn btn-sm btn-outline-primary" href="#" (click)="onScroll()">
      Show more ...
    </button>
  </div>
</div>
