/* You can add global styles to this file, and also import other style files */
$breadcrumb-font-size:              12px;
$breadcrumb-padding-y:              .5rem;
$breadcrumb-padding-x:              1rem;
$breadcrumb-item-padding:           .5rem;
$breadcrumb-border-radius:          0;
$primary: #3498db;

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

body, html {
    font-family: 'Lato', sans-serif;
}

.cursor-pointer {
  cursor: pointer!important;
}

.btn-primary {
  color: #fff!important;
}
