.input-file {
  font-weight: normal;
  font-size: 0.875rem;

  .btn {
    margin-right: 4px;
  }

  input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &::after {
    content: attr(data-selected);
    margin-left: 4px;
  }
}
